main {
    margin-top: 40px;
    max-width: 1370px;
    margin: auto;
}

main .left {
    text-align: left;
}

main .left span {
    display: block;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #6ACD68;
    border: 1px solid #6ACD68;
}

main .left span:hover {
    cursor: pointer;
    transition: 1s;
    background-color: #6ACD68;
    color: white;
}

main .left h1 {
    margin-top: 10px;
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    color: #323941;
    text-transform: uppercase;
}

main .left .borderLeft {
    margin-top: 20px;
    width: 540px;
    border: 1px solid #999999;
    padding: 22px;
}

main .left .borderLeft p {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #323941;
}

main .left .borderLeft .flexButton {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .left .borderLeft .flexButton button {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #323941;
    border: none;
    border: 1px solid #323941;
    background-color: transparent;
    padding: 10px 30px;
}

main .left .borderLeft .flexButton button:hover {
    cursor: pointer;
    transition: 1s;
    border: none;
    background-color: #009EFF;
    color: white;
}

main .left .borderLeft .flexBottom {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .left .borderLeft .flexBottom button {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    color: white;
    background-color: #009EFF;
    border: none;
    padding: 12px 60px;
}

main .left .borderLeft .flexBottom button:hover {
    cursor: pointer;
    transition: 1s;
}

main .img {
    margin-top: 40px;
    text-align: right;
}

main .card {
    min-width: 40px;
    display: flex;
    align-items: center;
}

main .card p {
    color: #999;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-left: 15px;
}

main .blue {
    display: flex;
    align-items: center;
    background-color: #009EFF;
    padding: 7px 20px;
}

main .blue p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-left: 15px;
}

main .box {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d9d8d8;
    padding: 0px 30px;
}

main .box .card {
    flex-direction: column;
}

main .box .card span {    
    font-size: 25px;
    font-weight: 700;
    line-height: 31px;
    color: black;
}

main .box .card p {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 10px;
    color: #323941;
}